body{
    background-image: url("assets/Campari-background.jpg");
    background-position: center;
    background-size: cover;
}
ul, p {
    background-color: white;
    margin: auto;
    margin: 5vw;
    padding: 4vh 4vw;
}
#img-div{
    margin: auto;
    width: 50%;
}
img#image{
    height: 50vw;
}